In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [27]:
df = pd.read_csv(r'C:\Users\Saylee\Desktop\Data analysis\netflix_data_analysis_updated.csv')

In [28]:
df.shape

(8790, 12)

In [29]:
df.head()

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in,Additional Info,rating_score
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,Documentaries,NaN,1.215548
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",NaN,9.818918
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",NaN,9.382010
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91 min,"Children & Family Movies, Comedies",NaN,1.218110
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies",NaN,4.715932

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          8790 non-null   object
 1   type             8790 non-null   object
 2   title            8790 non-null   object
 3   director         8790 non-null   object
 4   country          8790 non-null   object
 5   date_added       8790 non-null   object
 6   release_year     8790 non-null   int64
 7   rating           8790 non-null   object
 8   duration         8790 non-null   object
 9   listed_in        8790 non-null   object
 10  Additional Info  0 non-null      float64
 11  rating_score     8790 non-null   float64
dtypes: float64(2), int64(1), object(9)
memory usage: 824.2+ KB

In [31]:
#drop unrelated/blank columns
df.drop(['Additional Info'], axis=1, inplace=True)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   country       8790 non-null   object
 5   date_added    8790 non-null   object
 6   release_year  8790 non-null   int64
 7   rating        8790 non-null   object
 8   duration      8790 non-null   object
 9   listed_in     8790 non-null   object
 10  rating_score  8790 non-null   float64
dtypes: float64(1), int64(1), object(9)
memory usage: 755.5+ KB

In [33]:
pd.isnull(df)

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in,rating_score
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
8785,False,False,False,False,False,False,False,False,False,False,False
8786,False,False,False,False,False,False,False,False,False,False,False
8787,False,False,False,False,False,False,False,False,False,False,False
8788,False,False,False,False,False,False,False,False,False,False,False
8789,False,False,False,False,False,False,False,False,False,False,False

In [34]:
pd.isnull(df).sum()

show_id         0
type            0
title           0
director        0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
rating_score    0
dtype: int64

In [39]:
#change data type
df['rating_score'] = df['rating_score'].astype('int')

In [38]:
df['rating_score'].dtypes

dtype('int32')

In [40]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'rating_score'],
      dtype='object')

In [42]:
# renaming the column: renaming 'listed_in' column to genres

df.rename(columns = {'listed_in':'genres'})

,show_id,type,title,director,country,date_added,release_year,rating,duration,genres,rating_score
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,Documentaries,1
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",9
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",9
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91 min,"Children & Family Movies, Comedies",1
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies",4
...,...,...,...,...,...,...,...,...,...,...,...
8785,s8797,TV Show,Yunus Emre,Not Given,Turkey,1/17/2017,2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas",9
8786,s8798,TV Show,Zak Storm,Not Given,United States,9/13/2018,2016,TV-Y7,3 Seasons,Kids' TV,2
8787,s8801,TV Show,Zindagi Gulzar Hai,Not Given,Pakistan,12/15/2016,2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ...",1
8788,s8784,TV Show,Yoko,Not Given,Pakistan,6/23/2018,2016,TV-Y,1 Season,Kids' TV,9
8789,s8786,TV Show,YOM,Not Given,Pakistan,06-07-2018,2016,TV-Y7,1 Season,Kids' TV,7

In [43]:
#describe() method returns description of data in the dataframe(i.e, count, mean, std)
df.describe()

       release_year  rating_score
count   8790.000000   8790.000000
mean    2014.183163      5.027645
std        8.825466      2.585753
min     1925.000000      1.000000
25%     2013.000000      3.000000
50%     2017.000000      5.000000
75%     2019.000000      7.000000
max     2021.000000      9.000000

In [44]:
# using descibe for specific column
df[['rating_score']].describe()

       rating_score
count   8790.000000
mean       5.027645
std        2.585753
min        1.000000
25%        3.000000
50%        5.000000
75%        7.000000
max        9.000000